
<% @comments.each do |comment| %>

<%= comment.content %></br> 
<%=  comment.created_at %> 
<% end %>


<%= link_to 'New Comment', [:new, @commentable.user,  @commentable, :comment], id: "new-comment" %>

<div id="comment-form"> <%= render 'form'%></div>
