<h1>TESTING SOUNDCLOUD OAUTH</h1>

<% if current_user %>
  Signed in as <%= current_user.sc_username %>!
  <%= link_to "Sign out", signout_path %>
<% else %>
<%= link_to "Login to soundcloud", '/auth/soundcloud' %>
<% end %>