<a href="#"class='video-link' id="video-<%=video.id%>" data-youtube-iframe="<%= video.youtube_iframe%>" data-path="<%=user_video_comments_path(video.user.id, video.id)%>">
<%= image_tag video.thumbnail %> 
</a></br> 




