<body>
	<div class="container">
		<div class="full-top-bar">
			<div class="username"></div>
			<div class="audio-video-tabs"></div>
		</div>

		<!-- videos and audio display here -->
		<div class="right-media-view-container">
			<div class="media">
				<div class="video-view"></div>
				<div class="audio-view"></div>
			</div>
			<div class"comments"></div>
		</div>

		<!-- links and thumbnails displayed here -->
		<div class= "left-media-links-container">
			<div class="audio-links"></div>
			<div class="video-links"></div>
		</div>


		
	</div>







</body>